<VirtualHost *:80>
	ServerName {{ item.url }}
	ServerAlias {{ item.alias }}

	DocumentRoot /var/www/{{ item.name }}

	ErrorLog ${APACHE_LOG_DIR}/{{ item.name }}_error.log
	CustomLog ${APACHE_LOG_DIR}/{{ item.name }}_access.log combined

</VirtualHost>
